html {
    height: 100%;
}

/* BODY */

body {
    margin: 0; padding: 0;
    min-width: 100px;
    width: 100%;
    color: #707070;
    font-family: "Segoe UI";
    font-weight: normal;
}

/* BODY */

header {
    margin-top: 5%;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* MAIN */

main {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* MENU HEADER */

#menu nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 1em;
}

#menu nav ul li a {
    text-decoration: none;
    font-size: 80%;
}

#menu nav ul li a:hover {
    color: red;
}

#menu nav ul li a:link {
    color: #707070;
}

/* CENTRER MENU HEADER */

#menu nav ul {
    margin: 0 auto; padding: 0;
    line-height: 60px;

}

/* FORMULAIRE CONNECTION */

#connect nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 1em;
}

#connect nav ul {
    margin: 0 auto; padding: 0 auto;
}

#connect nav ul li input {
    height: 25px;
}

#submit {
    background-color: red;
    color: white;
    width: 150px; height: 30px;
    border: none;
}

/* VERS LA CREATION DE COMPTE */

#signup1 {
    text-decoration: none;
}

#signup1:link {
    color: #707070;
    font-size: 25px;
}

/* NOTRE BUT */

#but nav ul li {
    display: list-item;
    list-style-image: url(images/trace4.png);
}

/* FOOTER */

footer {
    margin: 0; padding: 0;
    width: 100%; height: 100px;
    background-color: #CECDCD;
    flex-wrap: wrap;
    bottom: 0;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#menu_footer nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 1em;
}

#menu_footer nav ul li a {
    text-decoration: none;
}

#menu_footer nav ul li a:link {
    color: #707070;
}

#img_footer {
    float: left;
    width: 40%;
}
